.container {
  padding-top: 24px;
  padding-right: 36px;
  padding-bottom: 24px;
  padding-left: 36px;
}

.textBox {
  margin-bottom: 8px;
}

.textBox .textArea {
  background-color: #f2f8fe;
  border-color: gray;
}

.letterCountBox {
  display: flex;
  justify-content: flex-end;
}

.letterCountBox .letterCount {
  margin-bottom: 8px;
}

.btnBox {
  display: flex;
  justify-content: flex-end;
}

.btnBox button {
  height: 48px;
  display: flex;
  align-items: center;
  color: black;
  background-color: #c7e1f9;
  border-color: #c7e1f9;
  border-radius: 16px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
}

.btnBox img {
  width: 48px;
}
